<!-- Разметка для модального окна и бэкдроп -->

<div class="backdrop">
  <div class="modal">
    <button class="close-button" type="button" data-modal-close>
      <!-- <img src="../src/images/close-button.svg" alt="Кнопка закрытия модального окна"> -->
      <!-- <img src="../src/images/close-source.svg" alt="Кнопка закрытия модального окна"> -->
      <svg>
        <use href="../src/images/sprite.svg#close-button"></use>
      </svg>
    </button>

    <div class="modal__informational-container">
      <div class="modal__top-image-container">
        <img class="modal__top-image" src="../src/images/temp-small-image.jpg" alt="Исполнитель">
      </div>
    </div>

  </div>
</div>